# Database Configuration
DATABASE_PATH=./data_collector.db
DOWNLOAD_DOCUMENTS_PATH=../data/data-collector/
MAX_CONCURRENT_DOWNLOADS=5

GOOGLE_APPLICATION_CREDENTIALS=
GCLOUD_STORAGE_BUCKET="legal-document-sources"